input[type='radio']:checked + .circle > div {
  background: #8e7f21;
}

input[type='checkbox'] {
  transition: border 500ms ease-in-out;
}

input[type='checkbox']:checked + .square {
  border-top: 0;
  border-right: 0;
  border-radius: 0;
  width: 15px;
  height: 10px;
  transform: rotate(-45deg) translateY(-2px) translateX(5px);
}

input[type='submit']:disabled {
  opacity: 0.8;
}
