.hero {
  background: url('../../assets/images/bg-trimmed-1.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #edd437;
  opacity: 0.3;
}
